body {
    background-color: #FFF8E7;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: auto;
    width: 300px;
}

h1 {
    color: #FF6F61;
    font-size: 36px;
}

h2 {
    color: #6B4226;
}

p,
li {
    color: #4A4A4A;
}